* {
  margin: 0;
  padding: 0;
}
body {
  padding: 1em;
}
section.category > section.category {
  margin-left: 2em;
}
section.category > h1.name {
  clear: both;
  float: left;
  font-size: 100%;
}
section.category > dl.props {
  clear: right;
  float: right;
  margin-bottom: 1em;
}
section.category > dl.props > dt {
  display: none;
}
section.category > dl.props > dd {
  float: right;
}
section.category > dl.props > dd.details {
  margin-left: 1em;
}
section.category > dl.props > dd.rec_sum_hours {
  margin-left: 1em;
}
section.category > dl.props > dd.description {
  clear: both;
  padding: 0.5em 0.5em 0 0.5em;
}
