* {
  margin: 0;
  padding: 0;
}
body {
  margin: 1em;
  display: flex;
  flex-direction: column;
}
#ui-main {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0.75em;
}
#ui-main > header {
  display: flex;
  flex-direction: row;
}
#ui-main > header > * {
  font-size: 100%;
}
#ui-main > header > *::before,
#ui-main > header > :last-child::after {
  content: "/ ";
}
#ui-main > header > :first-child::before {
  content: "";
}
#navigation {
  display: flex;
  flex-direction: row;
}
label[for="year"]::before,
label[for="month"]::before {
  content: "-";
}
#navigation label {
  display: none;
}
/*
#navigation button[type="submit"],
#options button[type="submit"] {
  display: none;
}
*/

#options {
  display: flex;
  flex-direction: row;
  margin-bottom: 1em;
  justify-content: space-between;
  align-items: center;
}
#options > *,
#group-by > * {
  margin-left: 1em;
}
#options > :first-child,
#group-by > :first-child {
  margin: 0;
}
#options label {
  font-style: italic;
}
#group-by > * {
  float: left;
}

#sheet-title {
  display: none;
}

table {
  width: 100%;
}

.entry > .t_begin,
.entry > .t_end,
.entry > .duration,
.calculation > .duration {
  text-align: right;
}
.entry > .date,
th {
  text-align: left;
}
tr > td,
tr > th {
  padding-right: 0.5em;
}
.debug {
  display: none;
}
tbody > tr:hover {
  background: #8f8;
}
