<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>{{ title }} - Time sheets - Timelog</title>
</head>
<body>
<section class="category">
{% for cat in view_data.category_tree recursive %}
  <h1 class="name">{{ cat.name }}</h1>
  <dl>
    <dt class="rec_sum_hours">Recursive sum hours</dt>
    <dd class="rec_sum_hours">{{ cat.rec_sum_hours }}</dt>
    <dt class="sum_hours">Sum hours</dt>
    <dd class="sum_hours">{{ cat.sum_hours }}</dt>
    <dt class="details">Details</dt>
    <dd class="details"><a href="{{ cat.details }}">Details</a></dt>
    {% if cat.description %}
    <dt class="description">Description</dt>
    <dd class="description">{{ cat.description }}</dt>
    {% endif %}
  </dl>
  {% if cat.children %}
    <section class="category">{{ loop(cat.children) }}</section>
  {% endif %}
{% endfor %}
</section>
</body>
</html>
