<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>{{ title }} - Time sheets - Timelog</title>
<style>
.entry > .date,
.entry > .t_begin,
.entry > .t_end,
.entry > .duration,
.calculation > .duration {
  text-align: right;
}
.calculation > th {
  text-align: left;
}
</style>
</head>
<body>
<header>
<h1>Timelog</h1>
<h2>Hours</h2>
<h3><a href="{{ view_data.overview }}">Time sheets</a></h3>
</header>
<form action="{{ redir.sheet }}?{{ query_str }}" id="navigation" method="POST">
<label for="category">Category</label>
<select name="category" id="category">
  <option value="{{ cat_id }}">{{ cat_name }}</option>
</select>
<label for="year">Year</label>
<select name="year" id="year">
  <option value="{{ t_lower_bound_incl.year }}">{{ t_lower_bound_incl.year }}</option>
</select>
<label for="month">Month</label>
<select name="month" id="month">
  <option value="{{ t_lower_bound_incl.month }}">{{ t_lower_bound_incl.month }}</option>
</select>
<button type="submit">Navigate</button>
<!-- TODO: Make add-new initiate adding new category/entry. -->
<a id="add-new" title="Add a new category or entry." href="">+</a>
</form>
<form id="options" method="GET">
<label for="no-recurse">No recurse</label>
<input type="checkbox" name="no-recurse" id="no-recurse"
  value="1" {% if opt.no_recurse %}checked{% endif %} />
<label for="own-entries-only">List own entries only</label>
<input type="checkbox" name="own-entries-only" id="own-entries-only"
  value="1" {% if opt.own_only %}checked{% endif %} />
<fieldset id="group-by">
<legend>Group by</legend>
<label for="group-by-category">Category</label>
<input type="checkbox" name="group-by-category" id="group-by-category"
  value="1" {% if opt.grp_cat %}checked{% endif %} />
<label for="group-by-person">Person</label>
<input type="checkbox" name="group-by-person" id="group-by-person"
  value="1" {% if opt.grp_psn %}checked{% endif %} />
<label for="group-by-week">Week</label>
<input type="checkbox" name="group-by-week" id="group-by-week"
  value="1" {% if opt.grp_week %}checked{% endif %} />
</fieldset>
<button type="submit">Update view</button>
<a id="opt-defaults" title="Reset option values to their defaults." href="{{ req_path }}">Reset to default values</a>
</form>
<!-- TODO: Log in/log out -->
<a id="log-out" href="">Log out</a>
<!-- TODO: Use name of person where it now says just "User real name". -->
<h1>{{ title }}{% if opt.own_only %} (User real name){% endif %}</h1>
<p>Range [{{ t_lower_bound_incl }}, {{ t_upper_bound_excl }}), time zone {{ tz }}.</p>
<p>Generated around the time of {{ t_now }}.</p>
<!-- TODO: Grouping -->
<table>
<thead>
<tr>
  <th>Date</th>
  <th>Begin</th>
  <th>End</th>
  {% if not opt.own_only and not opt.grp_psn %}<th>User</th>{% endif %}
  {% if not opt.grp_cat %}<th>Category</th>{% endif %}
  <th>Description</th>
  <th>Duration</th>
</tr>
</thead>
<tbody>
{% for entry in view_data.entries %}
<tr class="entry">
  <td class="date">{{ entry.date }}</td>
  <td class="t_begin">{{ entry.t_begin }}</td>
  <td class="t_end">{% if entry.t_end %}{{ entry.t_end }}{% endif %}</td>
  {% if not opt.own_only and not opt.grp_psn %}<td class="user">{{ entry.user }}</td>{% endif %}
  {% if not opt.grp_cat %}<td class="category">{{ entry.category }}</td>{% endif %}
  <td class="description">{{ entry.description }}</td>
  <td class="duration">{% if entry.duration %}{{ entry.duration }}{% endif %}</td>
</tr>
{% endfor %}
<tr class="calculation total">
  <!-- TODO: Adjust colspan according to groupings. -->
  <th colspan="6">Total sum hours</td>
  <td class="sum duration">{{ view_data.sum_duration }}</td>
</tr>
</tbody>
</table>
</body>
</html>
