<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>{{ title }} - Time sheets - Timelog</title>
<style>
.entries > .view_local-date,
.entries > .view_local-t_begin,
.entries > .view_local-t_end,
.entries > .duration {
  text-align: right;
}
</style>
</head>
<body>
<header>
<h1>Timelog</h1>
<h2>Hours</h2>
<h3><a href="{{ view_data.overview }}">Time sheets</a></h3>
</header>
<form action="{{ redir.sheet }}?{{ query_str }}" id="navigation" method="POST">
<label for="category">Category</label>
<select name="category" id="category">
  <option value="{{ cat_id }}">{{ cat_name }}</option>
</select>
<label for="year">Year</label>
<select name="year" id="year">
  <option value="{{ begin.year }}">{{ begin.year }}</option>
</select>
<label for="month">Month</label>
<select name="month" id="month">
  <option value="{{ begin.month }}">{{ begin.month }}</option>
</select>
<button type="submit">Navigate</button>
<!-- TODO: Make add-new initiate adding new category/entry. -->
<a id="add-new" title="Add a new category or entry." href="">+</a>
</form>
<form id="options" method="GET">
<label for="no-recurse">No recurse</label>
<input type="checkbox" name="no-recurse" id="no-recurse"
  value="1" {% if opt.no_recurse %}checked{% endif %} />
<label for="own-entries-only">List own entries only</label>
<input type="checkbox" name="own-entries-only" id="own-entries-only"
  value="1" {% if opt.own_only %}checked{% endif %} />
<fieldset id="group-by">
<legend>Group by</legend>
<label for="group-by-category">Category</label>
<input type="checkbox" name="group-by-category" id="group-by-category"
  value="1" {% if opt.grp_cat %}checked{% endif %} />
<label for="group-by-person">Person</label>
<input type="checkbox" name="group-by-person" id="group-by-person"
  value="1" {% if opt.grp_psn %}checked{% endif %} />
<label for="group-by-week">Week</label>
<input type="checkbox" name="group-by-week" id="group-by-week"
  value="1" {% if opt.grp_week %}checked{% endif %} />
</fieldset>
<button type="submit">Update view</button>
<a id="opt-defaults" title="Reset option values to their defaults." href="{{ req_path }}">Reset to default values</a>
</form>
<!-- TODO: Log in/log out -->
<a id="log-out" href="">Log out</a>
<!-- TODO: Use name of person where it now says just "User real name". -->
<h1>{{ title }}{% if opt.own_only %} (User real name){% endif %}</h1>
<p>Range [{{ s_begin }}, {{ s_end }}), time zone {{ tz }}.</p>
<p>Generated around the time of {{ s_now }}.</p>
<!-- TODO: Grouping -->
<table>
<thead>
<tr>
  <th>Date</th>
  <th>Begin</th>
  <th>End</th>
  {% if not opt.own_only and not opt.grp_psn %}<th>User</th>{% endif %}
  {% if not opt.grp_cat %}<th>Category</th>{% endif %}
  <th>Description</th>
  <th>Duration</th>
</tr>
</thead>
<tbody>
<!-- TODO: Split entries crossing days into multiple rows -- one per day. -->
<!-- TODO: Entry time zones. -->
{% for entry in view_data.entries %}
<tr class="entries">
  <td class="view_local-date">{{ entry.view_local.date }}</td>
  <td class="view_local-t_begin">{{ entry.view_local.t_begin }}</td>
  <td class="view_local-t_end">{% if entry.view_local.t_end %}{{ entry.view_local.t_end }}{% endif %}</td>
  {% if not opt.own_only and not opt.grp_psn %}<td class="user">{{ entry.user }}</td>{% endif %}
  {% if not opt.grp_cat %}<td class="category">{{ entry.category }}</td>{% endif %}
  <td class="description">{{ entry.description }}</td>
  <td class="duration">{% if entry.duration %}{{ entry.duration }}{% endif %}</td>
</tr>
{% endfor %}
</tbody>
</table>
</body>
</html>
