[Unit]
Description=Django Timelog App
After=network.target

[Service]
Type=simple
User=timelog
Group=www-data
PermissionsStartOnly=true
ExecStart=/var/lib/timelog/venv/serve/timelog/systemd-service/run.bash
ExecStartPost=/bin/ln -s /etc/nginx/sites-available/timelog /etc/nginx/sites-enabled/
ExecStartPost=/bin/systemctl restart nginx.service
ExecStartPost=/bin/ln -s /var/lib/timelog/venv/serve/timelog/avahi-service/timelog.service /etc/avahi/services/
ExecStop=-/bin/rm /etc/avahi/services/timelog.service
ExecStop=-/bin/rm /etc/nginx/sites-enabled/timelog
ExecStop=-/bin/systemctl restart nginx.service

[Install]
WantedBy=multi-user.target
