<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>{{ title }}</title>
</head>
<body>
<header>
<h1>Timelog</h1>
</header>
<form id="view-form">
<label for="recurse">Recurse</label>
<input type="checkbox" name="recurse" id="recurse" />
<select name="category">
  <option value="{{ cat_id }}">{{ cat_id }}</option>
</select>
<select name="role">
  <!-- TODO: Replace with actual username. -->
  <option value="user">user</option>
  <!-- TODO: Replace with list of groups user is member of. -->
  <option value="group">group</option>
</select>
<fieldset id="grouping">
<legend>Grouping</legend>
<label for="group-by-category">Category</label>
<input type="checkbox" name="group-by-category" id="group-by-category" />
<label for="group-by-person">Person</label>
<input type="checkbox" name="group-by-person" id="group-by-person" />
<label for="group-by-week">Week</label>
<input type="checkbox" name="group-by-week" id="group-by-week" />
</fieldset>
</form>
<!-- TODO: Log in/log out -->
<a href="">Log out</a>
<h1>{{ title }}</h1>
<p>Range [{{ s_begin }}, {{ s_end }}), time zone {{ tz }}.</p>
</body>
</html>
